/* Variables */
$main-font: "Roboto", sans-serif;
$primary: #184CAF;
$light-blue: lighten($primary, 50%);
$secondary: #1B1C1F;
$link-color: #AF3318;
$header-height: 4.7125rem;
$footer-height: 5.375rem;
$very-light-gray: #E5E4E4;
$mid-gray: #424447;
$cta-margin-top: 1.25rem;